{% extends 'base.html' %}
{%block content%}
<a class="btn btn-warning" href="{% url 'servicos:servico_create' %}">Novo</a>
<table class="table">
    <thead>
        <tr>
            <th>Editar</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {%for s in servicos%}
            <tr>
                <td class="a-table">
                <a href="{% url 'servicos:servico_edit' servico_id=s.id %}">Editar</a></td>
                <td>{{s.nome}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>


{%endblock%}