label
{
	width:100px;
}

.a-table
{
	width:100px;
	color:black;
}
#id_servicos label
{
	width:300px;
}
.errorList
{
	float:right;
	margin-right: 500px;
}
.td-tam
{
	width:100px;
}

#hidden-table-info,#hidden-table-info2
{
	width:450px;
}