#relatorio
{
	width:800px;
	height:800px;
	margin:auto;
	border: 3px solid #666666;
	border-radius: 20px;
}

#centro
{
	padding-left: 20px;
}
label
{
	margin-bottom: -10px;
	font-weight: bold;
	font-size:20px;
}