{% extends 'base.html' %}
{%block content%}
<a class="btn btn-warning" href="{% url 'colaboradores:colaborador_create' %}">Novo</a>
<table class="table">
    <thead>
        <tr>
            <th>Editar</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {%for c in colaboradores%}
            <tr>
                <td class="a-table">
                <a href="{% url 'colaboradores:colaborador_edit' colaborador_id=c.id %}">Editar</a></td>
                <td>{{c.nome}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>


{%endblock%}