{% extends 'base.html' %}

{%block jquery%}
//Adicionando ao grupo

$(".add_grupo").click(function(e){
    e.preventDefault();
    $id_cliente = this.id
    
    $.ajax({
        type:"POST",
        cache: false,
        url: "{% url 'grupos:add_grupo' %}",
        data: {
        csrfmiddlewaretoken: "{{csrf_token}}",
        grupo_id: {{grupo.id}},
        cliente_id: $id_cliente,
    },
        
        success:function(data){
            $( "body" ).html(data);
        },
    error: function(rs, e){
        alert(rs);


},

    });
});
    $('a[data-toggle="pessoas"]').on('shown.bs.tab', function (e) {
        e.target // activated tab
        e.relatedTarget // previous tab
    })

//Removendo cliente do grupo
$(".rm_grupo").click(function(e){
    e.preventDefault();
    $id_cliente = this.id
    
    $.ajax({
        type:"POST",
        cache: false,
        url: "{% url 'grupos:rm_grupo' %}",
        data: {
        csrfmiddlewaretoken: "{{csrf_token}}",
        grupo_id: {{grupo.id}},
        cliente_id: $id_cliente,
    },
        
        success:function(data){
            $( "body" ).html(data);
        },
    error: function(rs, e){
        alert(rs);
},

    });
});

{%endblock%}




{%block content%}

Editar


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#dados" data-toggle="tab">Dados</a></li>
  <li><a href="#pessoas" data-toggle="tab">Pessoas</a></li>
  <li><a href="#relatorio" data-toggle="tab">Relatórios</a></li>
  <li><a href="#mensagem" data-toggle="tab">Mensagem</a></li>
</ul>
<form class="form-inline" method="POST" >
    <div class="tab-content">
      <div class="tab-pane active" id="dados">
          
            {% csrf_token %}            
            <p><label>{{form.nome.label}} :</label>{{form.nome}}{{form.nome.erros}}</p>
            <p><label>{{form.destino.label}} :</label>{{form.destino}}{{form.destino.erros}}</p>
            <p><label>{{form.partida.label}} : </label>{{form.partida}}</p>
            <p><label>{{form.chegada.label}} : </label>{{form.chegada}}</p>
            <p><label>{{form.numpessoas.label}} : </label>{{form.numpessoas}}</p>
            <p><label>{{form.situacao.label}}</label>{{form.situacao}}</p>
      

            <br/><br/>

          Clientes do grupo<br/>
           {% for d in clientes_dentro %}

            <form id="{{d.id}}" method='POST'>
                {%csrf_token%}
                <input class ="rm_grupo btn btn-success" type="submit" value='{{d.nome}}' id='{{d.id}}' style="width:100px"/>
            </form>
            <br/>
            {% endfor %}
            <br/>

            Clientes que não estão no grupo<br/>
            {%for d in clientes_fora%}

            <form id="{{d.id}}" method='POST'>
                {%csrf_token%}
                <input class ="add_grupo btn btn-danger" type="submit" value='{{d.nome}}' id='{{d.id}}' style="width:100px"/>
            </form>
            <br/>
            {%endfor%}

  
      </div>
       <div class="tab-pane" id="pessoas">






       </div>
        <div class="tab-pane" id="relatorio">
        c
        </div>
        <div class="tab-pane" id="mensagem">
        d
        </div>
    </div>
<p><button type="submit" class="btn btn-success">Salvar</button></p>
 
 </form> 



 <script type="text/javascript">
    $('#id_partida').datepicker({
        autoclose: true,
        language: 'pt-BR',
        format: "dd/mm/yyyy"
    });

    $('#id_chegada').datepicker({
        autoclose: true,
        language: 'pt-BR',
        format: "dd/mm/yyyy"
    });
 </script>
{%endblock%}

