{% extends 'base.html' %}
{%block content%}
<a class="btn btn-warning" href="{% url 'grupos:grupo_create' %}">Novo</a>
<table class="table">
	<thead>
		<tr>
			<th>Editar</th>
			<th>Nome</th>
			<th>Destino</th>
			<th>Partida</th>
			<th>Chegada</th>
			<th>Nº Pessoas</th>
			<th>status</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody>
		{%for g in grupos%}
		{%if g.situacao == 'B' %}
			<tr class="success">
		{%elif g.situacao == 'C'%}
			<tr class="error">
		{%else%}
			<tr>
		{%endif%}
				<td class="a-table">
				<a href="{% url 'grupos:grupo_edit' grupo_id=g.id %}">Editar</a></td>
				<td>{{g.nome}}</td>
				<td>{{g.destino}}</td>
				<td>{{g.partida}}</td>
				<td>{{g.chegada}}</td>
				<td>{{g.numpessoas}}</td>
				<td>{{g.situacao}}</td>
				<td>{{g.valor_pessoa}}</td>
			</tr>
		{%endfor%}
	</tbody>
</table>


{%endblock%}