{% extends 'base.html' %}
{%block content%}

Editar


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#dados" data-toggle="tab">Dados</a></li>
  <li><a href="#pessoas" data-toggle="tab">Pessoas</a></li>
  <li><a href="#relatorio" data-toggle="tab">Relatórios</a></li>
  <li><a href="#mensagem" data-toggle="tab">Mensagem</a></li>
</ul>
<form class="form-inline" method="POST" >
    <div class="tab-content">
      <div class="tab-pane active" id="dados">
          
            {% csrf_token %}            
            <p><label>{{form.nome.label}} :</label>{{form.nome}}{{form.nome.erros}}</p>
            <p><label>{{form.destino.label}} :</label>{{form.destino}}{{form.destino.erros}}</p>
            <p><label>{{form.partida.label}} : </label>{{form.partida}}</p>
            <p><label>{{form.chegada.label}} : </label>{{form.chegada}}</p>
            <p><label>{{form.numpessoas.label}} : </label>{{form.numpessoas}}</p>
            <p><label>{{form.situacao.label}}</label>{{form.situacao}}</p>
      </div>
       <div class="tab-pane" id="pessoas">
            {% for p in clientes_dentro %}
              <a href="{% url 'grupos:remover_do_grupo' grupo_id=grupo.id cliente_id=p.id %}">{{p}}</a><br/>
            {% endfor %}
            <br/>
            {% for p in clientes_fora %}
              <a href="{% url 'grupos:inserir_ao_grupo' grupo_id=grupo.id cliente_id=p.id %}">{{p}}</a><br/>
            {% endfor %}




       </div>
        <div class="tab-pane" id="relatorio">
        c
        </div>
        <div class="tab-pane" id="mensagem">
        d
        </div>
    </div>
<p><button type="submit" class="btn btn-success">Salvar</button></p>
 
 </form> 



 <script type="text/javascript">
    $('#id_partida').datepicker({
        autoclose: true,
        language: 'pt-BR',
        format: "dd/mm/yyyy"
    });

    $('#id_chegada').datepicker({
        autoclose: true,
        language: 'pt-BR',
        format: "dd/mm/yyyy"
    });
 </script>
{%endblock%}

