
    <ul class="nav nav-pills">
      <a class="btn btn-primary" href="{% url 'grupos:grupo_edit' grupo_id=grupo.id %}">Dados do grupo</a>
      <a class="btn btn-warning" href="{% url 'grupos:clientes_fora' grupo_id=grupo.id%}">Clientes fora do grupo</a>

      <a class="btn btn-success" href="{% url 'grupos:clientes_grupo' grupo_id=grupo.id%}">Clientes do grupo</a>
      <a class="btn" href="{% url 'grupos:colaboradores_grupo' grupo_id=grupo.id %}">Colaboradores</a>
      <a class="btn btn-info" href="{% url 'grupos:roteiro_lista' grupo_id=grupo.id%}">Roteiro</a>
      <a class="btn btn-danger" href="#">Mensagem</a>
      <a class="btn btn-info" href="{% url 'grupos:relatorio_grupo' grupo_id=grupo.id%}">Relatórios</a>
      <a class="btn btn-danger" href="">Despesas</a>
    </ul>
