{% extends 'base.html' %}

{%block jquery%}
//Adicionando ao grupo

$(".add_grupo").click(function(e){
    e.preventDefault();
    $id_cliente = this.id
    
    $.ajax({
        type:"POST",
        cache: false,
        url: "{% url 'grupos:add_grupo' %}",
        data: {
        csrfmiddlewaretoken: "{{csrf_token}}",
        grupo_id: {{grupo.id}},
        cliente_id: $id_cliente,
    },
        
        success:function(data){
            $( "body" ).html(data);
        },
    error: function(rs, e){
        alert(rs);
},

    });
});


//Removendo disciplinas
$(".rm_grupo").click(function(e){
    e.preventDefault();
    $id_cliente = this.id
    
    $.ajax({
        type:"POST",
        cache: false,
        url: "{% url 'grupos:rm_grupo' %}",
        data: {
        csrfmiddlewaretoken: "{{csrf_token}}",
        grupo_id: {{grupo.id}},
        cliente_id: $id_cliente,
    },
        
        success:function(data){
            $( "body" ).html(data);
        },
    error: function(rs, e){
        alert(rs);
},

    });
});

{%endblock%}


{%block content%}
{%include 'menu_grupo.html'%}




            Clientes do grupo<br/>
    <div class="panel-body">
          <div class="adv-table">
              <table class="table table-bordered table-striped" id="hidden-table-info">
                  <thead>
                    <tr>
                        <th>Remover</th>
                        <th>Nome</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    {% for d in clientes_dentro %}
                          <tr>
                            <td class="td-tam"> 
                                <form id="{{d.id}}" method='POST'>
                                {%csrf_token%}
                                <input class ="rm_grupo btn btn-success" type="submit" value='Remover' id='{{d.id}}' style="width:100px"/>
                            </form></td>
                            <td>{{d.nome}}</td>
                          </tr>
                    {%endfor%}
                  
                  </tbody>
              </table>

          </div>
    </div>
            <br/>
<div class="panel-body">
          <div class="adv-table">
              <table class="table table-bordered table-striped" id="hidden-table-info2">
                  <thead>
                    <tr>
                        <th>Adicionar</th>
                        <th>Nome</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    {% for d in clientes_fora %}
                          <tr>
                            <td class="td-tam"> 
                                <form id="{{d.id}}" method='POST'>
                                {%csrf_token%}
                                <input class ="add_grupo btn btn-danger" type="submit" value='Adicionar' id='{{d.id}}' style="width:100px"/>
                            </form></td>
                            <td>{{d.nome}}</td>
                          </tr>
                    {%endfor%}
                  
                  </tbody>
              </table>

          </div>
    </div>




 <script src="{{ STATIC_URL }}js/jquery.dataTables.js" type="text/javascript" ></script>
    <script src="{{ STATIC_URL }}js/DT_bootstrap.js" type="text/javascript" ></script>

        <script type="text/javascript">
          /* Formating function for row details */

          $(document).ready(function() {
              var oTable = $('#hidden-table-info').dataTable( {
                  "aoColumnDefs": [
                      { "bSortable": false, "aTargets": [ 0 ] }
                  ],
                  "aaSorting": [[1, 'asc']]
              });

          } );


          $(document).ready(function() {
              var oTable = $('#hidden-table-info2').dataTable( {
                  "aoColumnDefs": [
                      { "bSortable": false, "aTargets": [ 0 ] }
                  ],
                  "aaSorting": [[1, 'asc']]
              });

          } );
  </script>
{%endblock%}