
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
<img src="{{STATIC_URL}}img/logo.jpg" style="width:800px;"/>
<center><h3>Listagem de Clientes</h3></center>
<h4>Grupo: {{grupo.nome}}</h4>
<h4>Destino: {{grupo.destino}} </h4>
<h4>Período: {{grupo.partida}} à {{grupo.chegada}}</h4>

<table class="table">
      <thead>
        <tr>
            <th>Nome</th>
            <th>RG</th>
            <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
      
        {% for d in clientes_dentro %}
              <tr>
                <td>{{d.nome}}</td>
                <td>{{d.rg}}</td>
                <td>{{d.tel01}}</td>
              </tr>
        {%endfor%}
      
      </tbody>
 </table>
