
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>

<img src="{{STATIC_URL}}img/imgcarro.jpg" style="width:200px;"/>
<h1>Listagem de Clientes</h1>
<h2>Grupo: {{grupo.nome}}</h2>
<h2>Destino: {{grupo.destino}} </h2>
<h2>Período: {{grupo.partida}} à {{grupo.chegada}}</h2>

<table class="table">
      <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
      
        {% for d in clientes_dentro %}
              <tr>
                <td>{{d.nome}}</td>
                <td>{{d.tel01}}</td>
              </tr>
        {%endfor%}
      
      </tbody>
 </table>
