{% extends 'base.html' %}
{%block content%}
{%include 'menu_grupo.html'%}
<a class="btn btn-warning" href="{% url 'grupos:roteiro_create' grupo_id=grupo.id %}">Novo</a>

<table class="table">
	<thead>
		<tr>
			<th>Editar</th>
			<th>Título</th>
			<th>Descriçao</th>
		</tr>
	</thead>
	<tbody>
		{%for r in roteiros%}
			<tr>
				<td class="a-table">
				<a href="{% url 'grupos:roteiro_edit' roteiro_id=r.id %}">Editar</a></td>
				<td>{{r.titulo}}</td>
				<td>{{r.descricao}}</td>
			</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}

