{% extends 'base.html' %}
{%block content%}
<style>
	
#id_descricao
{
	width:600px;
}

</style>
<form class="form-inline" method="POST" >
	{% csrf_token %}		
	{{form.non_field_errors}}	
	<p><label>{{form.titulo.label}} :</label>{{form.titulo}}{{form.titulo.errors}}</p>
	<p><label>{{form.descricao.label}} :</label>{{form.descricao}}{{form.descricao.errors}}</p>
	<!--<p><label>{{form.grupo.label}} :</label>{{form.grupo}}{{form.grupo.errors}}</p>-->
	<p><button type="submit" class="btn btn-success">Salvar</button></p>
</form>	

<br/>

<table class="table">
	<thead>
		<tr>
			<th>Editar</th>
			<th>Título</th>
			<th>Descriçao</th>
		</tr>
	</thead>
	<tbody>
		{%for r in roteiros%}
			<tr>
				<td class="a-table">
				<a href="">Editar</a></td>
				<td>{{r.titulo}}</td>
				<td>{{r.descricao}}</td>
			</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}

