
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/relatorio_cliente.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>

<div id="relatorio">

 <center><h2>Cadastro do cliente</h2></center>
<h4>
<div id="centro">
 <label>Nome: {{cliente.nome}}</label><br/>
 <label>Data de Nascimento:{{cliente.nascimento}}</label><br/>
 <label>CPF: {{cliente.cpf}}</label><br/>
 <label>RG: {{cliente.rg}}</label><br/>
 <label>Órgão Expedidor: {{cliente.orgao}}</label><br/>
 <label>Endereço: {{cliente.endereco}}</label><br/>
 <label>Bairro: {{cliente.bairro}}</label><br/>
 <label>Cidade: {{cliente.cidade}}</label><br/>
 <label>Estado: {{cliente.estado}}</label><br/>
 <label>CEP: {{cliente.cep}}</label><br/>
 <label>Telefone 01: {{cliente.tel01}}</label><br/>
 <label>Telefone 02: {{cliente.tel02}}</label><br/>
 <label>Email: {{cliente.email}}</label><br/>

 --------------------------------------------------------------------------------------------------------------------------------
  <center><h2>Histórico</h2></center>

  <table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Destino</th>
			<th>Partida</th>
			<th>Chegada</th>
		</tr>
	</thead>
	<tbody>
		{%for g in grupos%}
			<tr>
				<td>{{g.nome}}</td>
				<td>{{g.destino}}</td>
				<td>{{g.partida}}</td>
				<td>{{g.chegada}}</td>
			</tr>
		{%endfor%}
	</tbody>
</table>
 </div>

 </h4>

</div>